@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
	font-family: "Avenir Next";
	src: url("/public/AvenirNextLTPro-Regular.otf") format("otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Source Code Pro";
	src: url("/public/SourceCodePro-VariableFont_wght.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-light {
		background-image: url("/public/bg-light.png");
	}
	.bg-dark {
		background-image: url("/public/bg-dark.png");
	}
}

@layer base {
	html,
	body {
		scrollbar-width: none;
	}
	html::-webkit-scrollbar,
	body::-webkit-scrollbar {
		display: none;
	}
}

/* Global rules and classes */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img,
video {
	max-width: 100%;
	max-height: 100%;
}
