@font-face {
	font-family: "Avenir Next";
	src: url("/public/AvenirNextLTPro-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Source Code Pro";
	src: url("/public/SourceCodePro-VariableFont_wght.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.rainbow-border {
		position: relative;
		background: transparent;
		border: 2px solid transparent;
		z-index: 0;
	}
	.rainbow-border::after {
		content: "";
		position: absolute;
		inset: -2px;
		border-radius: inherit;
		background: conic-gradient(
			from -110deg,
			#a1f01c,
			#1994ff,
			#b911e3,
			#e97100,
			#a1f01b
		);
		z-index: -1;
	}
	.h1 {
		@apply font-display font-semibold text-5xl text-primary-content md:text-6xl lg:text-7xl xl:text-8xl;
	}
	.h2 {
		@apply font-display font-semibold text-4xl text-primary-content;
	}
	.h3 {
		@apply font-display font-semibold text-3xl text-primary-content;
	}
	.label {
		@apply font-mono text-xs text-neutral-content uppercase block;
	}
	.inputfield {
		@apply input font-mono text-sm placeholder:text-neutral-content/50 w-full bg-secondary;
	}
	.textfield {
		@apply textarea w-full font-mono text-sm placeholder:text-neutral-content/50 resize-none bg-secondary;
	}
}

@layer utilities {
	.bg-light {
		background-image: url("/public/bg-light.png");
	}
	.bg-dark {
		background-image: url("/public/bg-dark.png");
	}
}

@layer base {
	html,
	body {
		scrollbar-width: none;
	}
	html::-webkit-scrollbar,
	body::-webkit-scrollbar {
		display: none;
	}
}

/* Global rules and classes */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

img,
video {
	max-width: 100%;
	max-height: 100%;
}
